.caption h1
{
    font-size: 80px;
    font-weight: 700;
}
.caption p
{
    font-size: 35px;
}
.caption button
{
    padding: 20px 35px;
    color: #fff !important;
}
.icon
{
    height: 40px;
    width: 40px;
    background-color: #DC3545;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    left: 30px;
}